@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76c1ff;
}
.form-header p {
    margin-bottom: 2rem;
}
.form-header h1 {
    margin: 1rem 0rem;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 2.4rem;
    height: 0.2rem;
    background-color: #76c1ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.form {
    padding: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.form-header {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.email-button button {
        width: 100%;
        margin-top: 0.4rem;
        border: none;
        background-color: #76c1ff;
        padding: 0.62rem;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: #fff;
    }

.email-button button a {
    text-decoration: none;
    color: #fff;
}

.email-button button:hover {
    background-color: #62b7fc;
}

.input-box input {
    outline: none;
    padding-left: 10px;
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #0000001c;
    font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
    .form-image {
        display: none;
    }

    .form {
        width: 93%;
    }

@media screen and (max-width: 580px) {
    .input-box{
        width: 100%;
        justify-content: center;
        align-items: center; 
        flex-direction: row;
        display: grid;
        
}
.input-box input {
    width: 40vh;
}

    }
}